html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.grid_container {
  display: grid;
  grid-template-columns: repeat(26, calc(100vw / 26));
  grid-template-rows: repeat(29, calc(100vh / 29));
  width: 100vw;
  height: 100vh;
}

.grid_empty{
  background-color: gray;
  box-sizing: border-box;
  border: 1px solid black;
}
.grid_item {
  box-sizing: border-box;
  border: 1px solid black;
}

.grid_definition {
  box-sizing: border-box;
  border: 1px solid black;
  font-size: 0.7rem;
  background-color: gray;
  
  /* Ajouts pour centrer le contenu */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
