.grid_container {
  display: grid;
  grid-template-columns: repeat(26, 34px); 
  grid-auto-rows: 34px;              
}

.cell_item,
.cell_definition, 
.cell_empty,
.cell_item_separateur_vertical,
.cell_item_separateur_horizontal {
  font-size: 0.6rem;
  display: flex;
  box-sizing: border-box;
  border: 1px solid rgb(240, 240, 240);
  align-items: center;
  justify-content: center;
}

