.app_container {
  display: flex;
  height: 100vh;    
  align-items: stretch; 
  flex-wrap: nowrap;  /* éviter wrap pour garder propre */
  flex-direction: row; /* par défaut desktop */
}

.grid_wrapper {
  flex: 3;  /* 3/4 de la largeur */
  height: 100%;
  overflow-y: auto;
  background-color: #fff;
}

.info_container {
  flex: 1;  /* 1/4 de la largeur */
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #fff;
  margin-right: 20px;
}


@media (max-width: 768px) {
  .app_container {
    flex-direction: column;
  }

  .grid_wrapper {
    height: 80vh;
    overflow-y: auto;
  }


  .info_container {
    height: 20vh;
    overflow: scroll;
  }

  .web-only {
    display: none;
  }
}
