.cell_definition {
  background-color: rgb(69, 175, 210);
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cell_definition.selected {
  background-color: rgb(20, 120, 160); 
  font-weight: bold;
}

.cell_empty {
  background-color: rgb(69, 175, 210);
  font-size: 15px;
}

.cell_item {
  background-color: rgb(190, 227, 241);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
}

.cell_item_separateur_horizontal {
  background-color: rgb(190, 227, 241);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  box-sizing: border-box;
  border-right: 2px solid rgb(69, 175, 210);;

}

.cell_item_separateur_vertical {
  background-color: rgb(190, 227, 241);
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  border-bottom: 2px solid rgb(69, 175, 210);;
}

